<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/home.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="home">
			<img src="/img/home2.svg" class="blob"/>
			<nav class="nav">
				<div class="logo">
					<a href="/appClient">
						<img src="img/scoop.png" class="logoImg"/>
					</a>
				</div>
				<div class="item">
					<div>
						<a href="/">
							Accueil
						</a>
					</div>
					<div>
						<a href="/service">
							Services
						</a>
					</div>
					<div>
						<a href="/avis1">
							Avis
						</a>
					</div>
					<div>
						<a href="/contact">
							Contact
						</a>
					</div>
					<div>
						<a href="/login">
							<button class="loginBtn navBtn">Connexion</button>
						</a>
					</div>
					<div>
						<a href="/register">
							<button class="signUpBtn navBtn">S'inscrire</button>
						</a>
					</div>
				</div>

			</nav>
			<div class="homeSecondSection">
				<div class="LeftSection">
					<h1 class="title">
						Benificier
						<br>
						de votre boutique en ligne
						<br>
					</h1>
					<a href="/register" class="">
						<button class="orderNow">S'inscrire maintenant</button>
						<a href="/service" class="">
							<button class="plus">Voire plus</button>

						</div>

					</div>
