<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/footer.css">


<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="/img/scoop.png" alt="" class="img-fluid">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item active">
						<a class="nav-link active" aria-current="page" href="/">Accueil
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/service">Service</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/avis1">Avis</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">S'inscrir</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">recherche</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<banner>
		<div class="container"></div>
	</banner>

	<header class="banner">
		<div class="content">
			<h1 class="title">
				Benificier
				<br>
				de votre boutique en ligne
				<br>
				au moins de 3 jours</h1>
		</div>
	</header>
	<div class="bottom">
		<a href="/inscrire" class="btn btn-solid" style="opacity: 1;">
			<span>
				<span class="btn-txt">Inscrire</span>
			</span>
		</a>
	</div>
	<div class="service">
		<h1>
			<b>
				Nos service</b>
		</h1><br>
		<div class="taha">
			<div class="contenue">
				<h4>
					1.Permet au super administrateur de gérer tous les
																																																															plateformes et lui accorder l’accès privés à l’administrateur
																																																															de resto et lui permet de le supprimer en cas de non
																																																															payement.<br>
					2.Permet au responsable de restaurant de gérer tous les
																																																															prestations de service de son resto après son inscription payant
																																																															
																																																															avec le remplissage d’un formulaire par les informations
																																																															nécessaire (..).<br>
					3.Permet au utilisateur (responsable de restaurant) de se
																																																															connecter facilement à l’application avec leur nom et mot de
																																																															passe.<br>
					4. Permet au utilisateur de gérer les produit, les prix , les photos ,
																																																															les options ,et les comptes des clients .<br>
					5. Permet au client de resto de passer une commande et choisir le
																																																															mode de payement.<br></h4>

			</div>
			<div class="buttom1">
				<a href="/service" class="btn btn-solid1" style="opacity: 1;">
					<span>
						<span class="btn-txt">pour plus de détails</span>
					</span>
				</a>
			</div>
		</div>
	</div>


	<div class="footer">
		<footer id="colophon" class="luke-site-footer">
			<div class="footer-main-contents">
				<div class="container footersize">
					<div class="row">
						<div class="col-md-3">
							<div class="footer-widget-box">
								<section id="text-1" class="widget widget_text">
									<h4 class="footer-widget-title">À Propos de Scoop</h4>
									<div class="textwidget">
										<p style="text-align: justify;"></p>
										<p>&nbsp;</p>
									</div>
								</section>
							</div>
						</div>
						<div class="col-md-3">
							<div class="footer-widget-box">
								<section id="custom_html-8" class="widget_text widget widget_custom_html">
									<h4 class="footer-widget-title">Services</h4>
									<div class="textwidget custom-html-widget">
										<a href="services/developpement-web-sur-mesure">Développement your app sur mesure
										</a>
									</div>
								</section>
							</div>
						</div>
						<div class="col-md-3">
							<div class="footer-widget-box">
								<section id="custom_html-7" class="widget_text widget widget_custom_html">
									<h4 class="footer-widget-title">Contactez-nous</h4>
									<div class="textwidget custom-html-widget">
										<div class="contact-box">
											<a href="tel:+216 36 152 153">
												<i class="bi bi-telephone-fill"></i>
												Téléphone:(+216)53 098 895</a><br>
											<a href="mailto:contact@etcinfo.fr">
												<i class="bi bi-envelope-fill"></i>
												Email:contactScoop21@gmail.com</a>
											<p>
												<i class="bi bi-geo-alt-fill"></i>
												Hiboun Mahdia - TUNISIE</p>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="col-md-3">
							<div class="footer-widget-box">
								<section id="custom_html-9" class="widget_text widget widget_custom_html">
									<h4 class="footer-widget-title">Suivez-nous</h4>
									<div class="textwidget custom-html-widget">
										<div class="textwidget custom-html-widget">
											<a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
												<i class="bi bi-facebook"></i>
												Facebook</a>
											<br>
											<img src="/img/scoop.png" class="image-footer">
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<span class="site-info">Copyright 2021 by Scoop</span>
					</div>
					<div class="col-md-6">
						<div class="footer-bottom-widget"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="cookie-notice" role="banner" class="cookie-revoke-hidden cn-position-bottom cn-effect-fade cookie-notice-visible" aria-label="Cookie Notice" style="background-color: #000;">
			<div class="cookie-notice-container" style="color: #fff;">
				<span id="cn-notice-text" class="cn-text-container">Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. Si vous continuez à utiliser ce site, nous supposerons que vous en êtes satisfait.</span>
				<span id="cn-notice-buttons" class="cn-buttons-container">
					<a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button bootstrap button">Ok</a>
				</span>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<!-- / Cookie Notice plugin -->
	</body>
</body></div></body>
