<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/home.css">
		<link rel="stylesheet" href="/css/service.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="home">

			<nav class="nav">
				<div class="logo">
					<a href="/appClient">
						<img src="img/scoop.png" class="logoImg"/>
					</a>
				</div>
				<div class="item">
					<div>
						<a href="/">
							Accueil
						</a>
					</div>
					<div>
						<a href="/service">
							Services
						</a>
					</div>
					<div>
						<a href="/avis1">
							Avis
						</a>
					</div>
					<div>
						<a href="/contact">
							Contact
						</a>
					</div>
					<div>
						<a href="/login">
							<button class="loginBtn navBtn">Connexion</button>
						</a>
					</div>
					<div>
						<a href="/register">
							<button class="signUpBtn navBtn">S'inscrire</button>
						</a>
					</div>
				</div>
			</nav>
			<div class="body">
				<div class="service">
					<h1>Nos services</h1>

					<div class="article">
						<div class="text">
							<div class="img">
								<img src="/img/pp.jpg" alt="image-article">
							</div>
							<h3>En tant que administrateur de resto</h3>
							<p class="role">
								1ére partie</p>
							<p>
								<b>1. Gestion des paramètres de restaurant en ligne :</b>
								Cette fonctionnalité permet à l’utilisateur de :
																																																				                             Etudier la description courte et longue de son
																																																				                             boutique.<br>
								Etudier vos informations légers qui s’afficheront sur
																																																				                             les facteurs clients.<br>
								Choisir l’email vers lequel seront envoyées les
																																																				                             alertes de commandes.<br>
								Choisir les heures d’ouverture de son commerce ,
																																																											 du service de commande en ligne et des horaires se
																																																											 livraisons.<br>
								Dans la section vacances et fermetures vous pouvez
																																																				                             décider des jours de fermeture exceptionnels.<br>
								<b>
									2. Gestion de message :</b>
								Cette fonctionnalité permet de lister les demandes
																																																				                              des consommateurs effectuées depuis le site de
																																																				                              commande en ligne et une copie par email est
																																																				                             également envoyée directement sur l’adresse email
																																																				                             renseigne dans la partie réglages.<br>
								<b>3. Gestion de catalogue de produits disponibles en
																																																											                              ligne, ainsi que les différentes catégories de produits :</b>
								Cette fonctionnalité diviser en 5 parties :<br>
								* Gestion de produit : cette fonctionnalité permet à
																																																				                                 l’administrateur de éditer leurs produits et il pouvez
																																																				                                   modifier : prix TTC (obligatoire), prix promotionnel
																																																				                                   TTC (facultatif ), prix étudiant (facultatif), quantité de
																																																				                                   stock maximum incluse par commande dans le délai
																																																				                                   indiqué , le Switch vert/rouge vous permet d’activer
																																																				                                    ou non un produit. Si celui-ci est sur la position rouge
																																																				                                 il ne s’affichera pas sur le site de commande en
																																																				                                 ligne.<br>
								* Gestion avancée : cette fonctionnalité effectuer les
																																																				                                 modifications avancées de celui-ci :<br>
								<b>o Nom et description du produit.<br>
									o Taux de TVA sur place ou à emporter .<br>
									o Date de disponibilité du produit pour gérer
																																																											                                    une éventuelle saisonnalité.<br>
									o Option supplémentaires pour gérer la vente<br>
									interdit aux mineurs, la composition du
																																																											                                   produit et les idées recettes.</b><br>

								* Gestion des catégories :<br>
								cette fonctionnalité
																																																				                                 permet d’ajouter un nouvelle catégories et le
																																																				                                  modifier une catégories existante permet de
																																																				                                  modifier son nom , sa couleur , son icône et le
																																																				                                 fait qu’elle soit active ou non.<br>
								* Gestion de l’action sur les produits :
								<br>cette
																																																				                                 fonctionnalité permet d’effectuer des multiples
																																																				                                 réglages sur vos produit et votre catalogue
																																																				                                  comme :<br>
								<b>o Ajouter une règle de promotion .<br>
									o Ajouter un calendrier de retraits.<br>
									o Ajouter une liste d’options.<br>
									o Ajouter une liste d’allergènes.<br>
									o Ajouter/ enlever des favoris.<br>
									o Faire une opération marketing sur la sélection.<br>
									o Activer/ désactiver en masse des produits.<br>
									o Bloquer les produits aux moins de 18ans.<br>
									o Ajouter des produits à une formule.<br>
								</b>

								<b>4. Edition des formules :</b><br>
								cette fonctionnalité éditer le
																																																				                                          contenu d’une formule et permet de supprimer des
																																																				                                          éléments de la formule , de gérer les prix supplémentaires
																																																				                                         sur les produits et d’éditer les noms de sous catégories de
																																																				                                         votre formule .<br>
								<b>
									5. Gestion des coordonnées de client :</b><br>
								cette
																																																				                                    fonctionnalité permet de gérer les comptes
																																																				utilisateurs des consommateurs qui se sont inscrits
																																																				sur le service et affiche le détail du comte utilisateur
																																																				, ainsi que des statique : montant dépensé, nombre
																																																				de commandes, crédit actuel.<br>
								de resto et lui permet de le supprimer en cas de non payement
							</p>
						</div>
						<div class="text">
							<div class="img">
								<img src="/img/liv2.jpg" alt="image-article">
							</div>
							<h3>En tant que administrateur de resto</h3>
							<p class="role">
								2éme partie</p>
							<p>
								<b>
									6.Bannières :</b><br>
								Cette fonctionnalité permet de configurer ici des
																																																				bannières qui seront affichées une fois par jour sur le
																																																				site de commande en ligne. Pour ce faire il vous suffit
																																																				
																																																				de définir un titre, une description et une date
																																																				d’affichage de début et de fin Il vous reste plus qu’a
																																																				charger un visuel pour illustrer votre message
																																																				(format JPG 800x533).<br>
								<b>7. Gestion de commandes:</b><br>
								Cette fonctionnalité liste
																																																				les commandes sur le système et permet
																																																				d’imprimer la facture d’une commande en
																																																				particulier.<br>
								Les commandes se caractérisent par deux états :
																																																				Réglée / Préparée Le système vous indique par
																																																				commande, son contenu, l’utilisateur ayant passé la
																																																				commande, le montant total, le mode de règlement,
																																																				les horaires de retrait et de commande.<br>
								<b>8. Gestion de production:</b><br>
								cette fonctionnalité permet
																																																				d’anticiper la production lorsque les produits sont
																																																				regroupés par catégorie et par type de produit, vous
																																																				pouvez prévoir la production sur une journée du
																																																				nombre de produits à réaliser. Vous disposez
																																																				également d’une barre de filtres pour affiner votre
																																																				production pour un client en particulier ou une
																																																				catégorie de produit.<br>
								<b>9. Gestion de promotion:</b>
								cette fonctionnalité peut
																																																				créer et gérer des règles de promotions elles se
																																																				composent d’un nom, d’une répétition et d’une
																																																				quantité remisée.<br>
								<b>10. Les coupons:</b>
								Pour créer un coupon de réduction, il
																																																				faut renseigner les informations suivantes :<br>
								<b>o Code du coupon (ex 1234XYZ)<br>
									o Type de réduction € ou %<br>
									o Montant de la remise<br>
									o Date validité du coupon<br>

									o Utilisateur relié au coupon (Tous : utilisable par
																																																											tous les utilisateurs)<br>
									o Montant minimum du panier pour pouvoir
																																																											profiter du coupon<br>
									Une fois le coupon activé, les utilisateurs qui ont
																																																											bénéficié de l’offre apparaissent dans une liste en
																																																											dessous du bouton validé. Les coupons sont
																																																											automatiquement archivés lorsque la date de validité
																																																											est dépassée.</b><br>

								<b>11. Gestion de Marketing:</b>
								L’onglet marketing vous
																																																				permet d’effectuer des opérations marketing sur
																																																				votre base d’utilisateurs et de produits. Vous
																																																				choisissez tout d’abord le mode d’envoi : Mail ou
																																																				SMS. Vous pouvez ensuite sélectionner la liste des
																																																				destinataires, choisir éventuellement une liste de
																																																				produits à promouvoir. Il ne vous reste plus qu’a
																																																				définir une date d’envoi et modifier le message à
																																																				envoyer.<br>
								<b>12. Gestion des options:</b>
								Cette section permet de gérer
																																																				les options à appliquer sur les produits du catalogue
																																																				et choisir une quantité d’options maximum
																																																				sélectionnables, de définir si le choix de l’option est
																																																				obligatoire ou non, d’indiquer si les options ont un
																																																				prix supplémentaire et pour finir d’activer ou non
																																																				une option. Une fois la listes d’options créées on
																																																				peut les affecter aux produits souhaités dans votre
																																																				catalogue produits à l’aide du bouton d’action.
							</p>
						</div>
						<div class="text">
							<div class="img">
								<img src="/img/stat.jpg" alt="image-article">
							</div>
							<h3>En tant que client :</h3>
							<p class="role">
								3éme partie</p>
							<b>1. Inscription:</b><br>
							Cette application permet à l’utilisateur
																																													d’inscrire avec la remplissage d’un formulaire .<br>
							<b>2. Commander:</b><br>
							cette fonctionnalité permet à
																																													l’utilisateur de chercher leur besoin dans l’espace de
																																													resto et l’ajouter le choix dans le panier.<br>

							<b>3. Payement:</b>
							<br>cette fonctionnalité permet à l’utilisateur
																																													de choisir le mode de payement()et confirme
																																													ensuite en entrant le code de sécurité il suffit de
																																													saisir le montant et de valider.<br>
							<b>4. Suivi de commande:</b><br>
							cette fonctionnalité permet à
																																													l’utilisateur de contrôler la suivi de leur commande
																																													avec:<br>
							* En rouge les commandes « NON PREPAREES»<br>
							* En vert les commandes préparées « A RETIRER
																																													»<br>
							* En jaune les commandes des jours suivants.<br>
							<b>5. Livraison:</b>
							<br>Le client devrait remplir soigneusement
																																													un formulaire contenant les informations
																																													nécessaires telles que :<br>
							* Le nom du destinataire.<br>
							* L’adresse complète et précise de livraison.<br>
							* la ville, le quartier.<br>
							* Numéro de téléphone.<br>
							* Le jour et l’heur de la livraison estimés.<br>
						</div>
					</div>


					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
					<!-- / Cookie Notice plugin -->

				</body>
			</html>
