
.nav{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
   justify-content: space-between;
   margin-left: 20px;
   margin-right: 20px;
   align-items: center;

}
.blob{
    position: absolute;
    right: 13px;
    z-index: -1;
    width: 1000px;

    
}
h4{
    color: rgb(65, 65, 64);
}
a{
    text-decoration: none;
    color: black;
}
.nav:hover{
    cursor: pointer;
}
.logoImg{
 width: 107px;
 margin-left: 16px;
height: 89px;
}
.item{
    display: flex;
    margin: 20px;
   justify-content: space-between;
   padding: 30px;
   font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
   align-items: center;
   margin-left: 700px;

}
.item>div{
    padding-right: 20px;
}
.item>a{
    padding-right: 30px;
    transition: transform 50ms ease-out;
   
    
   /* opacity: 0.7;*/
}
.item>a:hover{
    transform: translateY(-5px);
  
}
.ShoppingCart{
    width: 54px;
height: 50px;
}
.loginBtn{
    width: 99px;
  height: 49px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
  border: none;

background: #fdc8d9;
border-radius: 25px;
}
.loginBtn:hover{
    cursor: pointer;
        background: #bbb9bb ;
}
.signUpBtn{
    width: 99px;
  height: 49px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
  border: none;

background: #fdc8d9;
border-radius: 25px;
}
.signUpBtn:hover{
    
        cursor: pointer;
        background: #bbb9bb ;
}
.navBtn:hover{
    cursor: pointer;
}
.fromContainer{
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    -webkit-box-align: center;
    align-items: center;
    grid-template-areas: "col1 col2";
}
#name{
    width:700px;
    margin:0 auto;
    margin-left: 100px;
}
.main{
    width:120%;
 
    border: 1px solid #f1f1f1;
    background: #fff;
   
    
    border-radius: 15px !important;
    margin-left: -190px;
    margin-top: -80px;
}
.ins{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    margin-top: -70px;
    
    border-radius: 15px !important;
}
.main:hover{
    cursor: pointer !important;
  background-color: #bebebe !important;
  box-shadow: 0 4px 2px -2px gray !important;
  transform: scale(1.02) !important;
}
.main h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    color:rgb(65, 65, 64);
    font-family: cursive;
}
.logPicture>img{
    margin: 100px;
    width: 620px;
    margin-top: 20px;
}
.main h2{
    color:rgb(65, 65, 64);
    font-family: system-ui;
}
.page-contentcontenu{
    margin-left: 20%;
    margin-right: 20%;
}
.form-group .eva2{
    margin-left: 10px;
}
.hi{
   
    text-align: center;
    width: auto;
    justify-content: center;
    background: #fff;
    padding: 50px;
    margin: 20px;
    font-style: italic;
    color: #0c0c0c;
    position: relative;
    background-color: #fcc8d8;
    font-size: larger;
}