.nav{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
   justify-content: space-between;
   margin-left: 20px;
   margin-right: 20px;
   align-items: center;

}

h4{
    color: rgb(65, 65, 64);
}
a{
    text-decoration: none;
    color: black;
}
.nav:hover{
    cursor: pointer;
}
.logoImg{
 width: 107px;
 margin-left: 16px;
height: 89px;
}
.item{
    display: flex;
    margin: 20px;
   justify-content: space-between;
   padding: 30px;
   font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
   align-items: center;
   margin-left: 700px;

}
.item>div{
    padding-right: 20px;
}
.item>a{
    padding-right: 30px;
    transition: transform 50ms ease-out;
   
    
   /* opacity: 0.7;*/
}
.item>a:hover{
    transform: translateY(-5px);
  
}
.ShoppingCart{
    width: 54px;
height: 50px;
}
.loginBtn{
    width: 99px;
  height: 49px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
  border: none;

background: #f8a0be;
border-radius: 25px;
}
.loginBtn:hover{
    cursor: pointer;
        background: #FFBBFC ;
}
.signUpBtn{
    width: 99px;
  height: 49px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
  border: none;

background: #f8a0be;
border-radius: 25px;
}
.signUpBtn:hover{
    
        cursor: pointer;
        background: #FFBBFC ;
}
.navBtn:hover{
    cursor: pointer;
}
.fromContainer{
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    -webkit-box-align: center;
    align-items: center;
    grid-template-areas: "col1 col2";
}
@media screen and (max-width: 768px){
    .fromContainer {
        grid-template-areas:
            "col1 col1"
            "col2 col2";
}
}
.fromContainer_First{
    margin-bottom: 15px;
    padding: 0px 15px;
    grid-area: col1 / col1 / col1 / col1;
    margin-top: -120px;
}

.logForm{
    margin-bottom: 15px;
    padding: 0px 15px;
    grid-area: col2 / col2 / col2 / col2;
    max-width: 555px;
    height: 100%;
}
.logPicture>img{
    margin: 100px;
    width: 750px;
}
#name{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
.main{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    margin-top: -200px;
    
    border-radius: 15px !important;
}
.ins{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    margin-top: -70px;
    
    border-radius: 15px !important;
}
.main:hover{
    cursor: pointer !important;
  background-color: #bebebe !important;
  box-shadow: 0 4px 2px -2px gray !important;
  transform: scale(1.02) !important;
}
.main h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;   
}
button{
    width: 99px;
    height: 49px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
    border: none;
  
  background: #f8a1be;;
  border-radius: 25px;
}