

.nav{
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
 justify-content: space-between;
 margin-left: 20px;
 margin-right: 20px;
 align-items: center;

}
.blob{
  position: absolute;
  right: 13px;
  z-index: -1;
  width: 1000px;

  
}
h4{
  color: rgb(65, 65, 64);
}
a{
  text-decoration: none;
  color: black;
}
.nav:hover{
  cursor: pointer;
}
.logoImg{
width: 107px;
margin-left: 16px;
height: 89px;
}
.item{
  display: flex;
  margin: 20px;
 justify-content: space-between;
 padding: 30px;
 font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
 align-items: center;
 margin-left: 700px;

}
.item>div{
  padding-right: 20px;
}
.item>a{
  padding-right: 30px;
  transition: transform 50ms ease-out;
 
  
 /* opacity: 0.7;*/
}
.item>a:hover{
  transform: translateY(-5px);

}
.ShoppingCart{
  width: 54px;
height: 50px;
}
.loginBtn{
  width: 99px;
height: 49px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
border: none;

background: #f5a1dc;
border-radius: 25px;
}
.loginBtn:hover{
  cursor: pointer;
      background: #FFBBFC ;
}
.signUpBtn{
  width: 99px;
height: 49px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
border: none;

background: #f5a1dc;
border-radius: 25px;
}
.signUpBtn:hover{
  
      cursor: pointer;
      background: #FFBBFC ;
}
.navBtn:hover{
  cursor: pointer;
}


#breadcrumbs {
display: block;
background-color: #fae8e7;
z-index: 3;
color: #18bc9c;
letter-spacing: 0.5px;
width: 100%;
margin: 0 auto;
padding: 1% 10%;
}
#breadcrumbs a {
color: #283a5e;
background-color: #fae8e7;
}

.service h1{
font-family: 'Lobster', cursive;
font-size: 52px;
margin-bottom: 60px;
text-align: center;
background-color: #ffbbfc;
}
.service{
  background: linear-gradient(#ffbbfc, white);
}
.article{
display: flex;
text-align: center;
width: auto;
justify-content: center;
}
.article .text{
background: #fff;
margin: 5px;
margin-bottom: 50px;
width: 300px;
padding: 20px;
line-height: 20px;
color: #8e8b8b;
position: relative;
margin-left: 70px;
}
.article .text h3{
color: #f5a1dc;
font-size: 26px;
margin-top: 50px;
}
.article .text p.role{
color:#ccc;
font-size: 12px;
text-transform: uppercase;
 margin: 12px 0;  
}
.article .text .img{
width: 100px;
height: 100px;
position: absolute;


}
.article .text .img img{
border-radius: 50%;
width: 100px;
height: 100px;
position: absolute;
top: -50%;
left: 120%;
transform: translateX(-50%);
background: #fff;
padding: 5px;

}