.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: dimgrey !important;
  
}
.color{
    font-size: 1.25rem;
    color: #f39c12;
}
.colorr{
    font-size: 1.25rem;
    color: #00bc8c;
}