{% extends 'base.html.twig' %}

{% block title %}New Clandar{% endblock %}

{% block body %}
    <h1>Create new Clandar</h1>

    {{ include('clandar/_form.html.twig') }}

    <a href="{{ path('clandar_index') }}">back to list</a>
{% endblock %}
