<form method="post" action="{{ path('vacance_fermeture_delete', {'id': vacance_fermeture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vacance_fermeture.id) }}">
    <button class="btn">Delete</button>
</form>
