{% for produitcategorie in produitcategories %}


	<div class="card shadow-1 fx-row">

		<div class="primary d-flex vcenter fx-center px-4">

			{% for image in produitcategorie.images %}
				<img src="{{ asset('/uploads/' ~ image.nom)|imagine_filter('square')}}" alt="Image" width="150"/>
			{% endfor %}

		</div>
		<div class="flex fx-col fx-grow">
			<div class="card-header">
				<strong>{{ produitcategorie.nom }}</strong>
			</div>
			<div class="card-content">

				<p>
					{{produitcategorie.description}}
				</p>
				<strong>
					{{produitcategorie.prix}}DT</strong>


			</div>
		</div>

	</div>


{% endfor %}
