<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8">

		<meta
		name="viewport" content="width=device-width, initial-scale=1">


		<!-- Google Font: Source Sans Pro -->

		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

		<!-- Font Awesome -->

		<link
		rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">

		<!-- Theme style -->

		<link rel="stylesheet" href="../../dist/css/adminlte.min.css">

	</head>

	<body
		class="hold-transition sidebar-mini">

		<!-- general form elements disabled -->

		<div class="card card-warning">

			<div class="card-header">

				<h3 class="card-title">Ajouter une régle</h3>

			</div>

			<!-- /.card-header -->

			<div class="card-body">

				<form>

					<div class="row">

						<div
							class="col-sm-6">

							<!-- text input -->

							<div class="form-group">

								<label>Nom de la régle</label>

								<input type="text" class="form-control" placeholder="Enter ...">

							</div>

						</div>

						<div class="col-sm-6">

							<div class="form-group">

								<label>Nom sur la boutique</label>

								<input type="text" class="form-control" placeholder="Enter ...">

							</div>

						</div>

						<div class="col-sm-6">

							<div class="form-group">

								<label>répétition(tous les X produits)</label>

								<input type="text" class="form-control" placeholder="Enter ...">

							</div>

						</div>

						<div class="col-sm-6">

							<div class="form-group">

								<label>Quantité de produits remisés</label>

								<input type="text" class="form-control" placeholder="Enter ...">

							</div>

						</div>

						<div class="col-sm-6">

							<div class="form-group">

								<label>Type de remise</label>

								<input type="text" class="form-control" placeholder="Enter ...">

							</div>

						</div>

						<div class="col-sm-6">

							<div class="form-group">

								<label>Montant de la remise</label>

								<input type="text" class="form-control" placeholder="Enter ...">

							</div>

						</div>

						<div class="col-sm-6">

							<div class="row">

								<div
									class="col-sm-6">

									<!-- select -->

									<div class="form-group">

										<label>Choix du produit remisé</label>

										<select class="form-control">

											<option>option 1</option>

											<option>option 2</option>

											<option>option 3</option>

											<option>option 4</option>

											<option>option 5</option>

										</select>

									</div>

								</div>

							</div>

						</div>

						<div class="card-footer">

							<button type="submit" class="btn btn-primary">Submit</button>

						</div>

					</form>

				</div>

				<!-- /.card-body -->

			</div>
		</body>
	</body>
</html>
